<div class="input-bar">
  <div class="input-row">
    <input
      type="text"
      placeholder="Ask about any airport..."
      class="text-input"
      [ngModel]="text()"
      (ngModelChange)="text.set($event)"
      (keydown)="onKeydown($event)"
      [disabled]="loading"
    />
    <button
      class="send-btn"
      (click)="submit()"
      [disabled]="loading || !text().trim()"
      [style.opacity]="(loading || !text().trim()) ? '0.4' : '1'"
      type="button"
      title="Send"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" style="width:17px;height:17px;">
        <path fill-rule="evenodd" d="M11.47 2.47a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12.75 4.81V21a.75.75 0 0 1-1.5 0V4.81L5.03 11.03a.75.75 0 0 1-1.06-1.06l7.5-7.5Z" clip-rule="evenodd"/>
      </svg>
    </button>
  </div>
</div>
